* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    -webkit-animation-name: padeIn;
    -webkit-animation-duration: 1s;
    animation-name: padeIn;
    animation-duration: 1s;
    background-color: black;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.completed {
    color: red;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
