#viewer {
    position: absolute;
    width: calc(100% - 22.5em);
    height: 100vh;
}

#viewer .icon-close {
    display: none;
    top: 0;
    right: 0;
    z-index: 3;
}

#viewer > .inner > i {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    width: 50px;
    height: 100%;
    color: white;
}
#viewer > .inner > .icon-next {
    right: 0;
}

#viewer > .inner > .icon-next:focus {
    outline: none;
}

#viewer > .inner > .icon-prev {
    left: 0;
}

#viewer > .inner > * {
    position: absolute;
    cursor: pointer;
}

.slider {
    width: 100%;
    height: 100%;
}

.slide-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-size: contain;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-animation-name: padeout;
    -webkit-animation-duration: 2s;
    animation-name: padeout;
    animation-duration: 2s;
}

.caption {
    padding: 2em 2em 0.75em 2em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, black, rgba(16,16,16,0));
    color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.caption h2 {
    color: white;
}

.slick-list {
    width: 100%;
    height: 100%;
}
.slick-track {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px){
    #viewer {
        width: 100%;
    }

    #viewer > .inner > .icon-next {
        display: none;
    }

    #viewer > .inner > .icon-prev {
        display: none;
    }
}
