#header {
    padding: 3em 2.25em 1.75em 2.25em;
}

#header > h1 {
    text-align: center;
    line-height: 1.25;
    margin: 0 0 1em 0;
    color: #555;
}
#header p {
    text-align: center;
    color: #aaa;
}
#header .icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 40px;
}

#header .icons > i {
    cursor: pointer;
}
